
MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=mg.YOUR_DOMAIN.com
MAILGUN_SECRET=YOUR_KEY_HERE

AWS_ACCESS_KEY_ID=ACCESSKEYID
AWS_SECRET_ACCESS_KEY=SECRETACCESSKEY 
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=MYBUCKETSNAME

